.support{
  width: 70px;
  height: 470px;
  position: fixed;
  right: $margin-sides;
  bottom: $margin-sides;
  z-index:$z-nav;
  @include respond-to(phone){
    width: 50px;
  }
}



.support-logo{
  display: inline-block;
  height: auto;
  width: auto;
  position: absolute;
  bottom:0;
  right:0;
  @include respond-to(phone){
    right:-10px;
  }
  a{
    display: block;
    svg{
      width: 40px;
      height: auto;
      display: block;
      float: right;
      @include respond-to(phone){
        height: 40px;
      }
    }
  }


  svg>g>.st0_a24logo{
    fill:$white;
  }
}

.support-info{
  display: inline-block;
  height: 70px;
  width: 600px;
  position: absolute;
  bottom:0;
  margin-bottom: -10px;
  @include transform-element(rotate(-90deg));
  .support-info-li{
    display: table;
    height: 70px;
    width: auto;
    float:left;
    margin-left: $margin-left-h2;
    &:nth-child(1){
      margin-left: 0;
    }
    p,a{
      position: relative;
      display: block;
      @include h3();
      height: auto;
      line-height: auto;
      vertical-align: bottom;
      padding-top:50px;
      color:$white;
    }
  }
}

.support-unicorn b {
  // outline:0;
  //   -webkit-animation: colorRotate 4s linear 0s infinite;
  //   -moz-animation: colorRotate 4s linear 0s infinite;
  //   -o-animation: colorRotate 4s linear 0s infinite;
  //   animation: colorRotate 4s linear 0s infinite;
    //
    // -webkit-animation-play-state: paused;
    // -moz-animation-play-state: paused;
    // -o-animation-play-state: paused;
    // animation-play-state: paused;
    // @include respond-to(phone){
    //   -webkit-animation-play-state: running;
    //   -moz-animation-play-state: running;
    //   -o-animation-play-state: running;
    //   animation-play-state: running;
    // }
}
.support-unicorn:hover b {
  -webkit-animation: colorRotate 4s linear 0s infinite;
  -moz-animation: colorRotate 4s linear 0s infinite;
  -o-animation: colorRotate 4s linear 0s infinite;
  animation: colorRotate 4s linear 0s infinite;
}

#support-info-buy{
  a{
    color: $white;
    b{
      margin: 0;
      padding: 0;
      color: $white;
    }

  }
}
#support-info-theatres{
  p{

  }
}
#support-info-sound{
  div{
    }
}



#bars {
    height: 30px;
    // left: 50%;
    // margin: -30px 0 0 -20px;
    position: absolute;
    bottom: 00%;
    width: 40px;
}

#bars.stoped_sound>.bar{
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

.bar {
   background: $white;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -2000ms linear infinite alternate;
    -webkit-animation-play-state: running; /* Safari 4.0 - 8.0 */
    animation-play-state: running;
}

@keyframes sound {
    0% {
       opacity: 1;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 25px;
    }
}

@-webkit-keyframes sound {
    0% {
       opacity: 1;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 25px;
    }
}

@-moz-keyframes sound {
    0% {
       opacity: 1;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 25px;
    }
}

@-ms-keyframes sound {
    0% {
       opacity: 1;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 25px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 574ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 533ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 507ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 558ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 500ms; }
// .bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
// .bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
// .bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
// .bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
// .bar:nth-child(10) { left: 37px; animation-duration: 442ms; }
