<div class="close" ng-controller="closeCtrl" ng-class="{'close_scrolled':scrolledTroughClose}">



<div class="close-text-container background" ng-class="{'fixed':isClose}" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Gif/NEONROB.gif')">


  <table>
    <tr>
      <td>
        <div class="close-text">
          <p style="opacity:{{tens[0].opacity}};">an <b>A24</b> release <b>RHEA FILMS</b> presents an <b>ELARA PICTURE</b></p>
          <p>
            <span style="opacity:{{tens[1].opacity}};"><b>ROBERT PATTINSON BENNY SAFDIE BUDDY DURESS</b></br></span>
            <span style="opacity:{{tens[2].opacity}};">introducing <b>TALIAH LENNICE WEBSTER</b> with <b>BARKHAD ABDI</b> and <b>JENNIFER JASON LEIGH</b></br></span>
            <span style="opacity:{{tens[3].opacity}};">Casting by <b>JENNIFER VENDITTI</b> Original Score by <b>ONEOHTRIX POINT NEVER</b></br></span>
            <span style="opacity:{{tens[4].opacity}};">Costume Designer <b>MIYAKO BELLIZZI & MORDECHAI RUBINSTEIN</b></br></span>
            <span style="opacity:{{tens[5].opacity}};">Production Designer <b>SAM LISENCO</b> Edited by <b>RONALD BRONSTEIN & BENNY SAFDIE</b></br></span>
            <span style="opacity:{{tens[6].opacity}};">Director of Photography <b>SEAN PRICE WILLIAMS</b> Co-Producer <b>BRENDAN McHUGH</b></br></span>
            <span style="opacity:{{tens[7].opacity}};">Co-Executive Producers <b>STEPHANIE MEURER ALEXIS VAROUXAKIS</b></br></span>
            <span style="opacity:{{tens[8].opacity}};">Executive Producer <b>JEAN-LUC DE FANTI</b> Produced By <b>PARIS KASIDOKOSTAS LATSIS TERRY DOUGAS SEBASTIAN BEAR-McCLARD OSCAR BOYSON</b></br></span>
            <span style="opacity:{{tens[9].opacity}};">Written By <b>RONALD BRONSTEIN & JOSH SAFDIE</b> Directed By <b>JOSH & BENNY SAFDIE</b></br></span>
          </p>
          <p style="opacity:{{tens[10].opacity}};">© 2017 HERCULES FILM INVESTMENTS SARL</p>
        </div>

        <div class="close-branding">
          <div class="close-branding-logo">
            <a href="#"  target="_blank">
              <rhealogo-directive></rhealogo-directive>
            </a>
          </div>
          <div class="close-branding-logo">
            <a href="http://www.elarapictures.com/"  target="_blank">
              <elaralogo-directive></elaralogo-directive>
            </a>
          </div>
          <div class="close-branding-logo">
            <a href="https://a24films.com/" target="_blank">
              <a24logo-directive></a24logo-directive>
            </a>
          </div>
        </div>

      </td>
    </tr>
  </table>


  <!-- <div class="close-image">
    <img src="https://s3-us-west-2.amazonaws.com/asset.goodtime/image/CutForWeb/Bank-Surv-2.jpg" alt="goodtime banksurv">
  </div> -->



  <div class="anchor_close" id="anchor_close" ng-class="{'close_scrolled':scrolledTroughClose}">

  </div>

</div>







</div>
