<div class="close background" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Gif/NEONROB.gif')" id="anchor_close">

<table>
  <tr>
    <td>
      <div class="close-text">
        <p>an <b>A24</b> release <b>RHEA FILMS</b> presents an <b>ELARA PICTURE</b></p>
        <p>
          <b>ROBERT PATTINSON BENNY SAFDIE BUDDY DURESS</b></br>
          introducing <b>TALIAH LENNICE WEBSTER</b> with <b>BARKHAD ABDI</b> and <b>JENNIFER JASON LEIGH</b></br>
          Casting by <b>JENNIFER VENDITTI</b> Original Score by <b>ONEOHTRIX POINT NEVER</b></br>
          Costume Designer <b>MIYAKO BELLIZZI & MORDECHAI RUBINSTEIN</b></br>
          Production Designer <b>SAM LISENCO</b> Edited by <b>RONALD BRONSTEIN & BENNY SAFDIE</b></br>
          Director of Photography <b>SEAN PRICE WILLIAMS</b> Co-Producer <b>BRENDAN McHUGH</b></br>
          Co-Executive Producers <b>STEPHANIE MEURER ALEXIS VAROUXAKIS</b></br>
          Executive Producer <b>JEAN-LUC DE FANTI</b> Produced By <b>PARIS KASIDOKOSTAS LATSIS TERRY DOUGAS SEBASTIAN BEAR-McCLARD OSCAR BOYSON</b></br>
          Written By <b>RONALD BRONSTEIN & JOSH SAFDIE</b> Directed By <b>JOSH & BENNY SAFDIE</b></br>
        </p>
        <p>© 2017 HERCULES FILM INVESTMENTS SARL</p>
      </div>

      <div class="close-branding">
        <div class="close-branding-logo">
          <rhealogo-directive></rhealogo-directive>
        </div>
        <div class="close-branding-logo">
          <elaralogo-directive></elaralogo-directive>
        </div>
        <div class="close-branding-logo">
          <a24logo-directive></a24logo-directive>
        </div>
      </div>

    </td>
  </tr>
</table>








<div class="close-image">
  <img src="https://s3-us-west-2.amazonaws.com/asset.goodtime/image/CutForWeb/Bank-Surv-2.jpg" alt="goodtime banksurv">
</div>

</div>
