<div class="open" id="anchor_open" ng-controller="openCtrl" ng-click="anchorScroll('anchor_trailer')">

<div class="open-video">
  <video class="open-video-element" ng-show="isOpener && !isMobile" muted autoplay loop id="open-video" src="https://player.vimeo.com/external/226085225.hd.mp4?s=71a25adbadaf652e474298f238ee4a32460692ba&profile_id=175" poster="">
  </video>
  <!-- https://s3-us-west-2.amazonaws.com/asset.goodtime/video/LANDINGTEST.mp4 -->

  <div class="open-video-element-mobile background" ng-if="isMobile" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Gif/ROBRUNVERTICAL.gif')">
<!-- style="background-image:url('')" -->
  </div>
</div>


  <div class="open-text">
    <ul class="open-text-ul">
      <li class="open-text-li" id="open-text-1" ng-show="openIn"><cannes-directive></cannes-directive></li>
      <li class="open-text-li" id="open-text-2" ng-show="openIn"><p>DIRECTED BY THE SAFDIE BROTHERS</p></li>
      <li class="open-text-li" id="open-text-3" ng-show="openIn"><logo-static-directive></logo-static-directive></li>
      <li class="open-text-li" id="open-text-4" ng-show="openIn">
        <p ng-if="!isMobile">IN SELECT THEATERS AUGUST 11</p>
        <p ng-if="isMobile">IN SELECT THEATERS</br > AUGUST 11</p>
      </li>
      <!-- <li class="open-text-li" id="open-text-5" ng-show="openIn"><a24logo-nomargin-directive></a24logo-nomargin-directive></li> -->
    </ul>
  </div>



<!-- style="opacity:{{opentextA[4].opacity}};" -->

  <!-- <div class="open-logo">
    <table>
      <tr>
        <td>
        </td>
      </tr>
    </table>
  </div> -->
<!--
  <div class="" id="anchor_first">
  </div> -->

  <!-- style="opacity:{{openerOpacity}};" -->

</div>
