<div class="play" ng-click="addImage($event)" ng-mousemove="drawImage($event)" ng-controller="playCtrl" id="anchor_play">
  <img draggable = "false" class="ghost-img gost-img-{{$index}}" id="gost-img-{{$index}}" ng-repeat="i in imageArray track by $index" ng-src="{{i.src}}" style="top:{{i.y}}px;left:{{i.x}}px;z-index:{{i.zindex}}"/>

  <div class="play-clickicon" ng-if="isMobile">
    <click-icon-directive></click-icon-directive>
  </div>

  <div class="play-clickicon" ng-if="!isMobile">
    <move-icon-directive></move-icon-directive>
  </div>

</div>
