<div class="quote" id="anchor_quote" ng-controller="quoteCtrl">

  <div class="quote-content">

    <div class="quote_1">

      <p class="quote-text" id="vivid" style="left:{{quoteText['vivid'].left}}vw;">
        “A vivid,<br>nerve-radling<br>heist thriller”
        <span class="quote-text-span" id="variety" style="opacity:{{quoteText['variety'].opacity}};">- VARIETY</span>
      </p>

      <p class="quote-text" id="pleasure" style="right:{{quoteText['pleasure'].right}}vw;">
        “Pure</br>cinematic</br>pleasure”
        <span class="quote-text-span" id="nytimes" style="opacity:{{quoteText['nytimes'].opacity}};">- New York Times</span>
      </p>

      <div class="background" id="quote_1_manfalling" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Quote/Q1/QA{{backgroundN}}.jpg')" alt="goodtime man falling"></div>
      <!-- <div class="background" id="quote_1_diveshort" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Gif/DIVESHORT.gif')" alt="goodtime diveshort"></div> -->
      <!-- <img id="quote_1_benny" src="https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Screencaps/Benny.jpg" alt="goodtime benny"> -->
    </div>





    <div class="quote_2">

      <!-- <div class="synopsis-float" ng-mouseenter="playSynopsisVideo()" ng-mouseleave="pauseSynopsisVideo()">
        <video class="synopsis-float-video" id="synopsis-float-video" src="https://s3-us-west-2.amazonaws.com/asset.goodtime/video/FLOATVIDEO.mp4" loop>
        </video>
        <img class="synopsis-float-image" src="https://s3-us-west-2.amazonaws.com/asset.goodtime/image/CutForWeb/AdventureLand.jpg" alt=" goodtime adventure land" ng-class="{'hide-image': showVideoSynopsis}">
      </div> -->

      <p class="quote-text" id="suspense" style="right:{{quoteText['suspense'].right}}vw;">
        “A riveting</br>race-against-time thriller”
        <span class="quote-text-span" id="hollywood" style="opacity:{{quoteText['indiewire'].opacity}};">- The Hollywood Reporter</span>
      </p>

      <p class="quote-text" id="robert" style="left:{{quoteText['robert'].left}}vw;">
        “Robert Pattinson</br>burns up</br>the screen”
        <span class="quote-text-span" id="timeout" style="opacity:{{quoteText['timeout'].opacity}};">- TimeOut NY</span>
      </p>



      <div class="background" id="quote_2_190" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Quote/Q2/QB{{backgroundN}}.jpg')" alt="goodtime diveshort"></div>
      <!-- <img id="quote_2_buddyledge" src="https://s3-us-west-2.amazonaws.com/asset.goodtime/image/CutForWeb/BuddyLedge.jpg" alt="goodtime buddy ledge"> -->
    </div>


<!-- ng-mouseup="removeFlag()" ng-mousedown="setFlag()"  -->
  </div>







</div>
