<div class="synopsis background" id="anchor_synopsis" ng-controller="synopsisCtrl" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Gif/WHITECASTLE.gif')">


<table>
  <tr>
    <td>

      <div class="synopsis-text">
        <p class="synopsis-text-p" id="synopsis-text-p-1">
          Following the mind-bending heaven knows what, celebrated filmmakers Josh and Ben Safdie return to the mean streets of New York City with GOOD TIME, a hypnotic crime thriller that explores with bracing immediacy the tragic sway of family and fate.
        </p>
        <p class="synopsis-text-p" id="synopsis-text-p-2">
          After a botched bank robbery lands his younger brother in prison, Constantine Nikas (Robert Pattinson) embarks on a twisted odyssey through the city's underworld in an increasingly desperate—and dangerous—attempt to get his brother out of jail. Over the course of one adrenalized night, Constantine finds himself on a mad descent into violence and mayhem as he races against the clock to save his brother and himself, knowing their lives hang in the balance.
        </p>
        <p class="synopsis-text-p" id="synopsis-text-p-3">
          Anchored by a career-defining performance from Robert Pattinson, GOOD TIME is a psychotic symphony of propulsive intensity crafted by two of the most exciting young directors working today. Josh and Ben Safdie’s transcendent vision is an intoxicating portrait of desperation and destruction that will not be soon forgotten.
        </p>
      </div>
    </td>
  </tr>
</table>




</div>
