<div class="trailer background" id="anchor_trailer" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/CutForWeb/CarSky.jpg');" ng-controller="trailerCtrl">
  <!-- <div class="trailer-filter"> </div>-->
  <!-- <div id="player"></div> -->
  <div class="trailer-video">
    <div class="trailer-video-poster background" style="background-image: url('https://s3-us-west-2.amazonaws.com/asset.goodtime/image/VideoLoaderClean.jpg');"  ng-hide="trailerActive" ng-mousedown="isTrailerClicked=true" ng-mouseup="isTrailerClicked=false">
      <div class="trailer-video-button" ng-click="toggleVideo()" ng-class="{'ng-click-active-trailer': isTrailerClicked}">
        <play-icon-directive></play-icon-directive>
      </div>

    </div>
    <!-- <iframe id="player_trailer" class="trailer-iframe" width="560" height="315" src="https://www.youtube.com/embed/upsR80YmwWc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
    <div id="player_trailer"></div>
  </div>


</div>
