.close{
  display: block;
  width: 100vw;
  height: 300vh;
  position: relative;
  @include respond-to(phone){
    height: 150vh;
  }
}


.close.close_scrolled{
  height: 100vh;
  @include respond-to(phone){
    height: 150vh;
  }
}




.close-text-container{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: auto 200vh;
  z-index:$z-close-text;
  @include respond-to(phone){
    height: 150vh;
    background-size: auto 200vh;
  }
}
.close-text-container.fixed{
  position: fixed;
  top:0;
  left:0;
  @include respond-to(phone){
    position: relative;
  }
}

.close-text{
  width: 70vw;
  display: block;
  margin: auto;
  z-index:$z-close-text;
  position: relative;
  @include respond-to(phone){
    width: 90vw;
  }
  p{
    color: $red;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    @include p2();
    margin-top: $margin-top-p;
    &:nth-child(1){
      margin-top: 0;
    }
    &:nth-child(2){
      margin-top: 0;
    }
    span{

    }
    b{
      font-family:$font-family-p;
      font-size: $font-size-p;
      @include p();
    }
  }
}





.close-branding{
  display: block;
  margin: auto;
  width: 250px;
  height: 70px;
  white-space: nowrap;
  margin-top: $margin-top-p;
  position: relative;
  z-index:$z-close-text;
  opacity:0;
  @include respond-to(phone){

  }
  .close-branding-logo{
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: top;
    overflow: hidden;
    margin-left: 20px;
    &:nth-child(1){
      margin-left: 0;
    }
    svg{
      height: 100%;
      width: 100%;
      display: block;
    }
  }
}



.close-image{
  position: absolute;
  right:200px;
  top:50vh;
  z-index:$z-close-image;
  img{
    width: 250px;
    height: auto;
    display: block;
  }
}


#anchor_close{
  position: relative;
  padding-top: 200vh;
  @include respond-to(phone){
    padding-top: 0vh;
  }
}
#anchor_close.close_scrolled{
  height: 0;
  padding: 0;
}
