.open{
  width: 100vw;
  height: 200vh;
  background-color: $black;
  @include respond-to(phone){
    height: 100vh;
  }
}
.open-video{
  width: 100vw;
  height: 100vh;
  position: fixed;
  .open-video-element{
    position: absolute;
    overflow: hidden;
    width: 130vw;
    height: 130vh;
    top:50%;
    left: 50%;
    margin-top: -65vh;
    margin-left: -65vw;




    @include respond-to(laptop-large){
      width: 130vw;
      height: 130vh;
      margin-top: -65vh;
      margin-left: -65vw;
    }

    @include respond-to(laptop-medium){
      width: 120vw;
      height: 120vh;
      margin-top: -60vh;
      margin-left: -60vw;
    }

    @include respond-to(laptop-small){
      width: 140vw;
      height: 140vh;
      margin-top: -70vh;
      margin-left: -70vw;
    }

    @include respond-to(tablet-portrait){
      width: 160vw;
      height: 160vh;
      margin-top: -80vh;
      margin-left: -80vw;
    }

    @include respond-to(tablet-landscape){
      width: 160vw;
      height: 160vh;
      margin-top: -80vh;
      margin-left: -80vw;
    }

    @include respond-to(phone){
      width: 250vw;
      height: 180vh;
      margin-top: -90vh;
      margin-left: -125vw;
    }
  }
}



.open-text{
  width: 50vw;
  height: 100vh;
  position: fixed;
  left:50px;
  top:50px;
  @include respond-to(phone){
    position: absolute;
  }
  .open-text-ul{
    width:70vw;
    display: block;
    .open-text-li{
      height: auto;
      width: auto;
      display: block;
      opacity: 0;
      margin-top: $margin-top-h2;
      &:nth-child(1){
        margin-top: 0;
      }
      svg{
        width:auto;
        height: 100%;
        display: block;
      }
      p{
        color: $red;
      }
    }
  }
}

#open-text-1{
  height: 50px;
}
#open-text-2{
  p{
    @include h3();
    line-height: 10px;
  }
}

#open-text-3{
  height: 100px;
}

#open-text-4{
  p{
    @include h2();
  }
}

#open-text-5{
  height: 30px;
  svg>g>.st0_a24logo{
    fill:$white;
  }
}

// .open-logo{
//   width: 100vw;
//   height: 100vh;
//   position: fixed;
//   @include respond-to(phone){
//     position: absolute;
//   }
//   svg{
//     position: absolute;
//     top:50%;
//     left:50%;
//     display: block;
//     width: 90vw;
//     height:90vw;
//     margin-top: -45vw;
//     margin-left: -45vw;
//     overflow: visible;
//     g{
//       overflow: visible;
//     }
//   }
// }



.open_logo_good{
  fill:$red;
  transform-origin: 50% 50%;
  @include transform-element(translateX(50%));
}

.open_logo_time{
  fill:$red;
  transform-origin: 50% 50%;
  @include transform-element(translateX(-50%));
}

.open_logo_time.glow{
  fill:$white;
  opacity:0;
}

.open_logo_good.glow{
  fill:$red;
  opacity:0;
}
