.open{
  width: 100vw;
  height: 300vh;
  background-color: $black;
}
.open-video{
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.open-logo{
  width: 100vw;
  height: 100vh;
  position: fixed;
  svg{
    position: absolute;
    top:50%;
    left:50%;
    display: block;
    width: 90vw;
    height:90vw;
    margin-top: -45vw;
    margin-left: -45vw;
    overflow: visible;
    g{
      overflow: visible;
    }
  }
}



.open_logo_good{
  fill:$pure-red;
  transform-origin: 50% 50%;
  @include transform-element(translateX(50%));
}

.open_logo_time{
  fill:$pure-red;
  transform-origin: 50% 50%;
  @include transform-element(translateX(-50%));
}

.open_logo_time.glow{
  fill:$white;
  opacity:0;
}

.open_logo_good.glow{
  fill:$pure-red;
  opacity:0;
}
