.quote{
  display: block;
  height:auto;
  width: 100vw;
  position: relative;
  background-color: $black;
}

.quote-content{
  width: 100%;
  height: auto;
}


.background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote_1{
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $black;
  #quote_1_manfalling{
    position: absolute;
    right:0;
    width: 100vw;
    height: 100vh;
    background-color: $black;
  }
  #quote_1_diveshort{
    position: absolute;
    left:5vw;
    width: 50vw;
    height:90vh;
    background-size: auto 130vh;
    background-color: $black;
  }
  #quote_1_benny{
    position: absolute;
    left:35vw;
    top:50vh;
    width: 300px;
    background-color: $black;
  }

}

.quote_2{
  display: block;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $black;
  #quote_2_190{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $black;
  }
  #quote_2_buddyledge{
    position: absolute;
    left:50px;
    top:50px;
    width: 300px;
    background-color: $black;
  }

}






.quote-text{
  position: absolute;
  color:$red;
  z-index: $z-quote-text;
  @include h1();
  text-transform: uppercase;
  text-align: center;
}

.quote-text-span{
  position: absolute;
  color:$red;
  @include h2();
  // font-size:22px;
  @include respond-to(phone){
    font-size: 30px;
  }
}



// #1
.quote-text#vivid{
  top: 5vh;
  font-size: 4.7em;
  line-height:1em;
  @include respond-to(phone){
    font-size: 3em;
    line-height:1em;
  }
}
.quote-text-span#variety{
  left:50%;
  bottom:-30px;
}


// #2
.quote-text#pleasure{
  bottom: -5vh;
  font-size: 5em;
  line-height:80px;
  font-family: $font-family-h3;
  @include respond-to(phone){
    font-size: 5em;
    line-height:1em;
  }
}

.quote-text-span#nytimes{
  left: -10%;
  bottom: -12%;
  width: 600px;
}





// #3
.quote-text#suspense{
  top: 15vh;
  font-size: 2.5em;
  line-height:40px;
  font-family: $font-family-h2;
  @include respond-to(phone){
    font-size: 1.5em;
    line-height:1em;
  }
}

.quote-text-span#hollywood{
  left: 50%;
  width: 500px;
  margin-left: -250px;
  bottom: -37%;
  font-size: 20px;
  @include respond-to(phone){
    bottom: -10%;
  }
}





// #4
.quote-text#robert{
  width: 700px;
  bottom: 15vh;
  font-size: 3.5em;
  line-height:50px;
  font-family: $font-family-h3;
}

.quote-text-span#timeout{
  left: 50%;
  width: 500px;
  margin-left: -250px;
  bottom: -37%;
  font-size: 29px;
  @include respond-to(phone){
    bottom: -40%;
  }
}
