.quote{
  display: block;
  height:auto;
  width: 100vw;
  position: relative;
}

.quote-content{
  width: 100%;
  height: auto;
}

.quote_1{
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
  #quote_1_manfalling{
    position: absolute;
    right:0;
    width: 100vw;
    height: 100vh;
  }
  #quote_1_diveshort{
    position: absolute;
    left:5vw;
    width: 50vw;
    height:90vh;
    background-size: auto 130vh;
  }
  #quote_1_benny{
    position: absolute;
    left:35vw;
    top:50vh;
    width: 300px;
  }

}

.quote_2{
  display: block;
  height: 100vh;
  position: relative;
  overflow: hidden;
  #quote_2_190{
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  #quote_2_buddyledge{
    position: absolute;
    left:50px;
    top:50px;
    width: 300px;
  }

}


.background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.ghost-img{
  position: absolute;
  width: 200px;
  height: auto;
  display: block;
  z-index:4;
}
