.quote{
  display: block;
  height:auto;
  width: 100vw;
  position: relative;
}

.quote-content{
  width: 100%;
  height: auto;
}

.quote_1{
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
  #quote_1_manfalling{
    position: absolute;
    right:0;
    width: 100vw;
    height: 100vh;
  }
  #quote_1_diveshort{
    position: absolute;
    left:5vw;
    width: 50vw;
    height:90vh;
    background-size: auto 130vh;
  }
  #quote_1_benny{
    position: absolute;
    left:35vw;
    top:50vh;
    width: 300px;
  }

}

.quote_2{
  display: block;
  height: 100vh;
  position: relative;
  overflow: hidden;
  #quote_2_190{
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  #quote_2_buddyledge{
    position: absolute;
    left:50px;
    top:50px;
    width: 300px;
  }

}



.quote_3{
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: $black;
}


.background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.ghost-img{
  position: absolute;
  width: 200px;
  height: auto;
  display: block;
  z-index:4;
}




.quote-text{
  position: absolute;
  color:$pure-red;
  z-index: $z-quote-text;
  font-family: 'Pill_Semibd';
  text-transform: uppercase;
}

.quote-text-span{
  position: absolute;
  color:$white;
  font-family: 'Pill_Bold';
  font-size:40px;
  @include respond-to(phone){
    font-size: 30px;
  }
}



// #1
.quote-text#vivid{
  top: 5vh;
  font-size: 5em;
  line-height:1em;
  @include respond-to(phone){
    font-size: 3em;
    line-height:1em;
  }
}
.quote-text-span#variety{
  left:-50px;
  bottom:-30px;
}


// #2
.quote-text#pleasure{
  bottom: -5vh;
  font-size: 8em;
  line-height:80px;
  font-family: 'Pill_Bold';
  @include respond-to(phone){
    font-size: 5em;
    line-height:1em;
  }
}

.quote-text-span#nytimes{
  left: 22%;
  bottom: -12%;
}





// #3
.quote-text#suspense{
  top: 15vh;
  font-size: 2.5em;
  line-height:40px;
  font-family: 'Pill_Bold';
  text-transform:none;
  @include respond-to(phone){
    font-size: 1.5em;
    line-height:1em;
  }
}

.quote-text-span#indiewire{
  right: 0%;
  bottom: -5%;
  font-size: 60px;
  text-transform: uppercase;
  @include respond-to(phone){
    bottom: -10%;
  }
}





// #4
.quote-text#robert{
  bottom: 15vh;
  font-size: 4em;
  line-height:50px;
  font-family: 'Pill_Regular';
  text-transform:none;
}

.quote-text-span#timeout{
  right: 0%;
  bottom: -80%;
  font-size: 60px;
  text-transform: none;
  @include respond-to(phone){
    bottom: -40%;
  }
}
