.synopsis{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.synopsis-float{
  position: absolute;
  top:100px;
  right:200px;
  width: 300px;
  display: block;
  @include respond-to(phone){
    right:20px;
    width: 150px;
  }
  .synopsis-float-image{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    &.hide-image{
      opacity:0;
    }
  }
  .synopsis-float-video{
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top:0;
    left: 0;
  }
}

.synopsis-text{
  width: 50vw;
  display: block;
  position: relative;
  display: block;
  margin: auto;
}

.synopsis-text-p{
  width: 100%;
  display: block;
  position: relative;
  display: block;
  @include p();
  color: $red;
  mix-blend-mode: difference;
  cursor: -webkit-grab;
  // left:10vw;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin-top: $margin-top-p;
  &:nth-child(1){
    color: $red;
    margin-top: 0;
  }
  &:nth-child(2){
    color: $red;
  }
  &:hover{
    mix-blend-mode: normal;
  }
  @include respond-to(phone){
    width:70vw;
  }
}


// #synopsis-text-p-1{
//   padding-top: 10vh;
// }
