.synopsis{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.synopsis-float{
  position: absolute;
  top:100px;
  right:300px;
  width: 200px;
  display: block;
  @include respond-to(phone){
    right:20px;
    width: 150px;
  }
  .synopsis-float-image{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    &.hide-image{
      opacity:0;
    }
  }
  .synopsis-float-video{
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top:0;
    left: 0;
  }
}



.synopsis-text-p{
  width: 50vw;
  display: block;
  position: relative;
  display: block;
  @include p();
  color: $pure-green;
  padding-top: $margin-top-p;
  mix-blend-mode: difference;
  cursor: -webkit-grab;
  left:10vw;
  @include respond-to(phone){
    width:70vw;
  }
}


#synopsis-text-p-1{
  padding-top: 10vh;
}
