.synopsis{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.synopsis-float{
  position: absolute;
  top:100px;
  right:200px;
  width: 300px;
  display: block;
  .synopsis-float-image{
    width: 100%;
    height: auto;
    display: block;

  }
  .synopsis-float-video{
    width: 100%;
    height: auto;
    display: block;
  }
}



.synopsis-text{
  width: 50vw;
  height: auto;
  position: absolute;
  top:10vh;
  left:10vw;
  .synopsis-text-p{
    display: block;
    position: relative;
    display: block;
    @include p();
    color: $pure-green;
    margin-top: $margin-top-p;
    mix-blend-mode: difference;
    cursor: -webkit-grab;

  }
}
