.trailer{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index:$z-trailer;
}

.trailer-filter{
  width: 100vw;
  height: 100vh;
  position: absolute;
  // background-color: #49136f;
  // opacity: 0.9;
  z-index:1;
}
.trailer-iframe{
  position: absolute;
  top:50%;
  left:50%;
  display: block;
  z-index:2;
  width: 896px;
  height: 504px;
  margin-left: -448px;
  margin-top: -252px;

  @include respond-to(tablet-landscape){
    width: 600px;
    height: 350px;
    margin-left: -300px;
    margin-top: -175px;
  }

  @include respond-to(tablet-portait){
    width: 600px;
    height: 350px;
    margin-left: -300px;
    margin-top: -175px;
  }

  @include respond-to(phone){
    width: 80vw;
    height: 30vh;
    margin-left: -40vw;
    margin-top: -15vh;
    // left:0;
    // top:0;
  }
}
