@font-face {
    font-family: 'futura_std_bold';
    src: url('../assets/fonts/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


//franklin
@font-face {
    font-family: 'franklin_std_condensed';
    src: url('../assets/fonts/910aea08-532e-437c-8552-b8e21e43a845.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franklin_std_demi';
    src: url('../assets/fonts/ITCFranklinGothicStd-DmCp.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// client/assets/fonts/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2
// client/assets/fonts/910aea08-532e-437c-8552-b8e21e43a845.woff2
// client/assets/fonts/641461ef-c567-416a-90d3-266c03892746.woff2

// @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=b847e119-16f5-408a-86b9-ea1539dfcfc7");
//     @font-face{
//         font-family:"franklin_std_condensed";
//         src:url("Fonts/d534f828-e70e-44ad-9256-0063bfd76f53.eot?#iefix");
//         src:url("Fonts/d534f828-e70e-44ad-9256-0063bfd76f53.eot?#iefix") format("eot"),url("Fonts/641461ef-c567-416a-90d3-266c03892746.woff2") format("woff2"),url("Fonts/54b4b724-8acf-4931-ac8c-1df0c3fd7f2c.woff") format("woff"),url("Fonts/273eb8b2-62ff-40b0-aff6-46376431eae1.ttf") format("truetype"),url("Fonts/45a74047-2fa0-4ddf-be6b-0cdbd7645f60.svg#45a74047-2fa0-4ddf-be6b-0cdbd7645f60") format("svg");
//     }
//     @font-face{
//         font-family:"franklin_std_demi";
//         src:url("Fonts/7d847ac4-ab65-4987-a435-e2fe10639423.eot?#iefix");
//         src:url("Fonts/7d847ac4-ab65-4987-a435-e2fe10639423.eot?#iefix") format("eot"),url("Fonts/910aea08-532e-437c-8552-b8e21e43a845.woff2") format("woff2"),url("Fonts/cad8e11d-4e16-4cae-b102-c70567202fca.woff") format("woff"),url("Fonts/7f05091c-f0c1-46c9-8e19-b0d7144433a4.ttf") format("truetype"),url("Fonts/6abb3a3f-5b40-4a5d-8803-df6caf6a0f48.svg#6abb3a3f-5b40-4a5d-8803-df6caf6a0f48") format("svg");
//     }
//     @font-face{
//         font-family:"futura_std_bold";
//         src:url("Fonts/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix");
//         src:url("Fonts/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix") format("eot"),url("Fonts/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2") format("woff2"),url("Fonts/184895ac-545b-450b-9d3a-c0a0a7620977.woff") format("woff"),url("Fonts/bf8628d2-1ae0-4645-ba3f-3ce62d8d907c.ttf") format("truetype"),url("Fonts/20073de8-56dd-4e4c-9434-5097c3f2fd28.svg#20073de8-56dd-4e4c-9434-5097c3f2fd28") format("svg");
//     }
