@font-face {
    font-family: 'futura_std_bold';
    src: url('../assets/fonts/FuturaStd-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'futura_std_heavy';
//     src: url('../assets/fonts/FuturaStd-Heavy.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }

//
// @font-face {
//     font-family: 'futura_std_heavy';
//     src: url('../assets/fonts/FuturaStd-Heavy.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }
//





//franklin
@font-face {
    font-family: 'franklin_std_condensed';
    src: url('../assets/fonts/FranklinGothicStd-Condensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'franklin_std_demi';
    src: url('../assets/fonts/ITCFranklinGothicStd-DmCp.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
