/*....................................SCSS VARIABLES..................................*/


// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 900;


// ........................................................FONT SIZES
$font-size-h1:50px;
$font-size-h2:27px;
$font-size-h3:15px;
$font-size-p: 18px;
$font-size-p2: 13px;


$font-size-h1-mobile: 40px;
$font-size-h2-mobile: 18px;
$font-size-h3-mobile: 14px;
$font-size-p-mobile: 16px;
$font-size-p2-mobile: 11px;

// ........................................................FONT FAMILIES
// 'Playfair Display SC', serif
// font-family: 'Prata', serif;
$font-family-h1: "franklin_std_condensed";
$font-family-h2: "franklin_std_condensed";
$font-family-h3: 'franklin_std_condensed';
$font-family-p: 'franklin_std_condensed';
$font-family-p2: 'franklin_std_demi';
// $font-family-h1: "futura_std_bold";
// $font-family-h2: "futura_std_bold";

// ........................................................FONT LINEHEIGHTS
$line-height-h1: 50px;
$line-height-h2: 30px;
$line-height-h3: 30px;
$line-height-p: 22px;
$line-height-p2: 22px;

$line-height-h1-mobile: 40px;
$line-height-h2-mobile: 30px;
$line-height-h3-mobile: 20px;
$line-height-p-mobile: 17px;


$letter-spacing: 2px;
$letter-spacing-h1: 11px;
$letter-spacing-h2: 3px;
$letter-spacing-h3: 3px;
$letter-spacing-paragraph:2px;


$letter-spacing-h1-mobile: 11px;
$letter-spacing-h2-mobile: 2px;
$letter-spacing-h3-mobile: 3px;
$letter-spacing-paragraph-mobile:2px;


// ........................................................COLORS
$black: #000000;
$white: #FFFFFF;
$yellow: #ede611;
$green: #00FF00;
$red:#c52026;
$pink:#f7c0cd;
$grey:#a8a8a8;
$pure-green: #00FF00;
$lime:#00FF00;


// ........................................................MARGINS
$margin-sides: 25px;
$margin-bottom: 35px;
$margin-top: 200px;
$margin-sides-mobile:10px;
$margin-left-paragraph:5px;
$margin-left-h2:15px;
$margin-top-p:30px;
$margin-top-h2:12px;
$margin-top-block:100px;
$margin-top-li:50px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................Z-INDEXES
$z-loader:15;
$z-logo:11;
$z-clickOut: 12;
$z-pop:12;
$z-nav:11;
$z-nav-mobile:11;
$z-trailer:10;
$z-quote-text:9;

$z-close-text:5;
$z-close-image:4;




/*....................................................................................*/
