<nav class="nav" ng-controller="navCtrl" ng-if="!isOpener">
  <!-- ng-show="isNav" -->
  <table>
    <tr>
      <td>
      <div class="nav-content">
        <div class="nav-logo" ng-click="isNavOpen=!isNavOpen">
          <img src="https://s3-us-west-2.amazonaws.com/asset.goodtime/image/Pepe_AcidDrop.png" alt="goodtime" />
        </div>
        <div class="nav-list" ng-show="!isMobile && isNavOpen">
          <a class="nav-a unicorn" ng-class="{'active': isActive('/synopsis')}" ng-click="anchorScroll('anchor_synopsis')">
            <b>s</b><b>y</b><b>n</b><b>o</b><b>p</b><b>s</b><b>i</b><b>s</b>
          </a>
          <a class="nav-a unicorn" ng-class="{'active': isActive('/trailer')}" ng-click="anchorScroll('anchor_trailer')">
            <b>t</b><b>r</b><b>a</b><b>i</b><b>l</b><b>e</b><b>r</b>
          </a>
          <a class="nav-a unicorn" ng-class="{'active': isActive('/snippets')}" ng-click="anchorScroll('anchor_snippets')">
            <b>s</b><b>n</b><b>i</b><b>p</b><b>p</b><b>e</b><b>t</b><b>s</b>
          </a>
          <a class="nav-a unicorn" ng-class="{'active': isActive('/close')}" ng-click="anchorScroll('anchor_close')">
            <b>c</b><b>l</b><b>o</b><b>s</b><b>e</b>
          </a>

        </div>
      </div>
    </td>
  </tr>
</table>



  <div class="nav-mobile-list gradient2" ng-show="isMobile && isNavOpen">
    <table>
      <tr>
        <td>
          <a class="nav-a unicorn" ng-class="{'active': isActive('/synopsis')}" ng-click="anchorScroll('anchor_synopsis');isNavOpen=false;">
            <b>s</b><b>y</b><b>n</b><b>o</b><b>p</b><b>s</b><b>i</b><b>s</b>
          </a>
          <a class="nav-a unicorn" ng-class="{'active': isActive('/trailer')}" ng-click="anchorScroll('anchor_trailer');isNavOpen=false;">
            <b>t</b><b>r</b><b>a</b><b>i</b><b>l</b><b>e</b><b>r</b>
          </a>
          <a class="nav-a unicorn" ng-class="{'active': isActive('/snippets')}" ng-click="anchorScroll('anchor_snippets');isNavOpen=false;">
            <b>s</b><b>n</b><b>i</b><b>p</b><b>p</b><b>e</b><b>t</b><b>s</b>
          </a>
          <a class="nav-a unicorn" ng-class="{'active': isActive('/close')}" ng-click="anchorScroll('anchor_close');isNavOpen=false;">
            <b>c</b><b>l</b><b>o</b><b>s</b><b>e</b>
          </a>
        </td>
      </tr>
    </table>
  </div>


</nav>
