<div class="support" ng-hide="isMobile&&!isNavOpen">

  <ul class="support-info">
    <li class="support-info-li" id="support-info-buy" ng-show="!isOpener">
      <a class="support-unicorn" href="http://tickets.goodtime.movie/" target="_blank">
        <b>w</b><b>a</b><b>t</b><b>c</b><b>h</b><b> </b><b>n</b><b>o</b><b>w</b>
      </a>
    </li>
    <li class="support-info-li" id="support-info-theatres" ng-show="!isOpener">
      <p>NOW AVAILABLE ON DIGITAL HD</p>
    </li>
    <li class="support-info-li" id="support-info-sound" ng-click="groundSound()" ng-show="!isOpener">
      <div id="bars" ng-class="{'stoped_sound':!isGroundSound}">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
    </li>

  </ul>

  <div class="support-logo">
    <a href="https://a24films.com/" target="_blank"><a24logo-nomargin-directive></a24logo-nomargin-directive></a>
  </div>


  <audio id="support-audio" autoplay src="https://s3-us-west-2.amazonaws.com/asset.goodtime/audio/Background.mp3" ng-if="!isMobile">
  </audio>

  <audio id="support-audio" src="https://s3-us-west-2.amazonaws.com/asset.goodtime/audio/Background.mp3" ng-if="isMobile">
  </audio>

</div>
